body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* MENU NGANG */
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #333;
    display: flex;
}

.menu > li {
    position: relative;
}

.menu > li > a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu > li > a:hover {
    background: #555;
}

/* MENU DỌC */
.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background: #444;
    display: none;
    min-width: 220px;
}

.submenu li a {
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
}

.submenu li a:hover {
    background: #666;
}

.dropdown:hover .submenu {
    display: block;
}

/* MENU CON BÊN PHẢI */
.subdropdown {
    position: relative;
}

.submenu-right {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 100%;
    background: #555;
    display: none;
    min-width: 240px;
}

.subdropdown:hover .submenu-right {
    display: block;
}
